.fix-display-inline { float: left; }
@media (min-width: 64em) {
}
div.grid-club-competition { overflow: hidden; }
@media (min-width: 48em) {
  div.grid-club-competition__item { float: left; }
}
.grid-club { overflow: hidden; }
@media (min-width: 48em) {
  div.promo-slide__clubs-item.html_inc { width: 100% !important; margin: 0px !important; }
}
@keyframes loop {
0% { opacity: 1; }
40% { opacity: 1; }
45% { opacity: 0; }
95% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes loop2 {
0% { opacity: 0; }
5% { opacity: 1; }
35% { opacity: 1; }
40% { opacity: 0; }
100% { opacity: 0; }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 670px) {
}
@media screen and (max-width: 590px) {
}
@media screen and (max-width: 500px) {
}
.world { border-top: 0px none; }
.wc_partners_img_small { max-height: 45px; }
.world-partners__item { text-align: center; width: 160px; overflow: hidden; }
.world-partners__list { outline: medium none; }
