@keyframes tooltipster-fading {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes tooltipster-rotating {
25% { transform: rotate(-2deg); }
75% { transform: rotate(2deg); }
100% { transform: rotate(0deg); }
}
@keyframes tooltipster-scaling {
50% { transform: scale(1.1); }
100% { transform: scale(1); }
}
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
a { background: transparent none repeat scroll 0% 0%; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
textarea { overflow: auto; }
@font-face {
  font-family: "Avenir Next Cyr W00 Thin";
  src: url("65f66e6b-d28d-4c94-b661-66511860c2c7.eot") format("eot"), url("0b79d335-83f4-416a-b9b7-0e81d6258db7.woff2") format("woff2"), url("ab86f3dc-10a7-4bf1-bab8-e84f506f6d45.woff") format("woff"), url("e0f6c0c2-cd05-4327-acb3-5543c3d7feac.ttf") format("truetype"), url("0e59386d-0330-4e45-8bdd-026fc0e73d71.svg") format("svg");
}
@font-face {
  font-family: "Avenir Next Cyr W00 Regular";
  src: url("069faa0e-9913-48c4-9ef7-89a4bc080b65.eot") format("eot"), url("7db1f672-3a8f-4d19-9c49-7f61aed450b5.woff2") format("woff2"), url("4ab86b35-c0c2-42b5-98ad-4b6eba66b197.woff") format("woff"), url("276b3566-1c3b-4bc1-8915-15314f091f29.ttf") format("truetype"), url("5d02f5f4-46e7-453a-aef9-3e7106d7bb68.svg") format("svg");
}
@font-face {
  font-family: "Avenir Next Cyr W00 Bold";
  src: url("fb4117a5-14ee-4035-8692-935bfff7fc2e.eot") format("eot"), url("4c04fb14-abdb-4f93-82bb-734d1b84307b.woff2") format("woff2"), url("04d2f223-2786-40c9-8481-be9dd47d8e7f.woff") format("woff"), url("bce3274e-f498-48ae-b269-a6930df496e7.ttf") format("truetype"), url("68f0375d-f66f-4f88-822a-5a0b61d2efc0.svg") format("svg");
}
@font-face {
  font-family: "icons";
  src: url("icons.eot") format("embedded-opentype"), url("icons.woff") format("woff"), url("icons.woff2") format("woff2");
}
html { box-sizing: border-box; overflow-x: hidden; overflow-y: scroll; }
html, body { height: 100%; background-color: rgb(245, 246, 246); }
body { font-family: "Avenir Next Cyr W00 Regular",sans-serif; font-weight: 100; font-size: 14px; letter-spacing: 0px; height: auto; min-height: 100%; position: relative; }
body, body *, body::after, body::before { box-sizing: inherit; font-weight: 100; }
a { text-decoration: none; color: inherit; outline: medium none; }
p { margin: 0px; }
h1, h2, h3, h4, h5, h6 { margin-top: 0px; }
input[type="text"], input[type="email"], input[type="tel"], select, textarea { border-radius: 0px; border: 0px none; background-image: none; background-color: transparent; padding: 0px; resize: none; outline: medium none; -moz-appearance: none; }
ul { list-style: outside none none; padding: 0px; }
.i-icon { display: inline-block; vertical-align: middle; }
.i-icon_link { margin-right: 8px; }
.i-link { color: inherit; font-style: inherit; text-decoration: none; position: relative; border-bottom: 1px solid transparent; cursor: pointer; transition: all 0.5s ease 0s; }
.i-link:hover { transition: all 0.5s ease 0s; }
.i-link_underline:hover { border-bottom: 1px solid; }
.i-link_schedule::after { content: "Расписание"; }
.i-link_faq::after { content: "Вопросы"; }
.i-link_faq::before { content: ""; font-family: icomoon; margin-right: 5px; display: inline-block; vertical-align: middle; margin-top: -4px; color: rgb(122, 125, 132); font-size: 18px; }
@media (min-width: 48em) {
  .i-link_faq::after { content: "Часто задаваемые вопросы"; }
}
@media (min-width: 85.375em) {
  .i-link_schedule::after { content: "Расписание занятий"; }
}
.i-button { display: inline-block; cursor: pointer; font-size: 14px; line-height: 16px; font-family: "Avenir Next Cyr W00",sans-serif; margin: 0px 5px; height: auto; padding: 12px; border: medium none; font-weight: normal; outline: medium none; border-radius: 30px; transition: all 0.5s ease 0s; min-width: 150px; text-align: center; background: red none repeat scroll 0% 0%; color: white; width: auto; }
.i-button:hover {  }
.i-button_red { color: rgb(255, 255, 255); background-color: rgb(237, 28, 36) !important; }
.i-button_red:hover { background-color: rgb(203, 0, 2); }
.i-button_big { letter-spacing: 2px; font-weight: 100; padding: 7px 15px 8px; }
.i-input[type="text"], .i-input[type="email"], .i-input[type="tel"], .i-textarea { border: 1px solid rgb(236, 237, 237); padding: 5px; border-radius: 2px; transition: all 0.2s ease-out 0s; }
.i-input[type="text"]:hover, .i-input[type="text"]:focus, .i-input[type="email"]:hover, .i-input[type="email"]:focus, .i-input[type="tel"]:hover, .i-input[type="tel"]:focus, .i-textarea:hover, .i-textarea:focus { border-color: rgb(184, 187, 192); }
.i-list { padding-left: 0px; margin-bottom: 10px; line-height: 1em; list-style: outside none none; }
.i-list__item { position: relative; margin-bottom: 10px; padding-left: 0px; }
.i-bold { font-family: "Avenir Next Cyr W00 Bold",sans-serif; font-weight: 100; }
.i-form_worksheet .i-form__row { padding: 20px; }
.i-form_worksheet .i-form__row_grey { margin-bottom: 0px; background-color: rgb(245, 246, 246); border-bottom: 1px solid rgb(236, 237, 237); }
.i-form_worksheet .i-form__row_grey:last-child { border-bottom-color: transparent; }
.i-form_worksheet .i-form__buttons { padding: 20px 0px; }
.i-form__row { margin-bottom: 20px; }
.i-form__list { margin-left: -20px; display: flex; flex-wrap: wrap; }
.i-form__item { display: inline-block; vertical-align: top; width: 100%; padding-left: 20px; margin-bottom: 20px; }
.i-form__item:last-child { margin-bottom: 0px; }
.i-form__label { display: block; margin-bottom: 10px; }
.i-form__input[type="text"], .i-form__input[type="email"], .i-form__input[type="tel"], .i-form__textarea { width: 100%; padding: 5px 30px; border: 1px solid rgb(224, 224, 224); border-radius: 3px; background-color: rgb(255, 255, 255); }
@media (min-width: 48em) {
  .i-form_worksheet { width: 730px; }
  .i-form_worksheet .i-form__item { width: 260px; }
}
@media (min-width: 64em) {
  .i-form_worksheet { width: 985px; }
}
@font-face {
  font-family: "Avenir Next Cyr W00 Thin";
  src: url("65f66e6b-d28d-4c94-b661-66511860c2c7.eot") format("eot"), url("0b79d335-83f4-416a-b9b7-0e81d6258db7.woff2") format("woff2"), url("ab86f3dc-10a7-4bf1-bab8-e84f506f6d45.woff") format("woff"), url("e0f6c0c2-cd05-4327-acb3-5543c3d7feac.ttf") format("truetype"), url("0e59386d-0330-4e45-8bdd-026fc0e73d71.svg") format("svg");
}
@font-face {
  font-family: "Avenir Next Cyr W00 Regular";
  src: url("069faa0e-9913-48c4-9ef7-89a4bc080b65.eot") format("eot"), url("7db1f672-3a8f-4d19-9c49-7f61aed450b5.woff2") format("woff2"), url("4ab86b35-c0c2-42b5-98ad-4b6eba66b197.woff") format("woff"), url("276b3566-1c3b-4bc1-8915-15314f091f29.ttf") format("truetype"), url("5d02f5f4-46e7-453a-aef9-3e7106d7bb68.svg") format("svg");
}
@font-face {
  font-family: "Avenir Next Cyr W00 Bold";
  src: url("fb4117a5-14ee-4035-8692-935bfff7fc2e.eot") format("eot"), url("4c04fb14-abdb-4f93-82bb-734d1b84307b.woff2") format("woff2"), url("04d2f223-2786-40c9-8481-be9dd47d8e7f.woff") format("woff"), url("bce3274e-f498-48ae-b269-a6930df496e7.ttf") format("truetype"), url("68f0375d-f66f-4f88-822a-5a0b61d2efc0.svg") format("svg");
}
@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: 400;
  src: url("icomoon.eot") format("embedded-opentype"), url("icomoon.ttf") format("truetype"), url("icomoon.woff") format("woff"), url("icomoon.svg") format("svg");
}
[class^="icon-"], [class*=" icon-"] { font-family: "icomoon" !important; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; }
@font-face {
  font-family: "icomoon_telegram";
  font-style: normal;
  font-weight: normal;
  src: url("icomoon_telegram.woff") format("woff");
}
.icon-fb::before { content: ""; }
.icon-instagram::before { content: ""; }
.icon-vk::before { content: ""; }
.icon-youtube::before { content: ""; }
.icon-close-1::before { content: ""; }
.icon-add::before { content: ""; }
.icon-arrow-down::before { content: ""; }
.icon-lk::before { content: ""; }
.icon-schedule::before { content: ""; }
.icon-search::before { content: ""; }
.icon-promo-01::before { content: ""; }
.icon-promo-02::before { content: ""; }
.icon-promo-03::before { content: ""; }
.icon-promo-04::before { content: ""; }
.icon-promo-05::before { content: ""; }
.icon-promo-06::before { content: ""; }
.icon-promo-07::before { content: ""; }
.icon-promo-08::before { content: ""; }
.icon-promo-09::before { content: ""; }
.icon-promo-10::before { content: ""; }
@media (min-width: 48em) {
}
.mfp-close { right: 15px; top: 14px; text-indent: 0px; font-size: 0px; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; width: 25px; height: 25px; line-height: 25px; }
.mfp-close:active { top: 14px; }
.mfp-close::before { content: ""; font-family: "icomoon"; font-size: 24px; color: rgb(255, 255, 255); }
@media (max-width: 85.365em) {
}
.slick-dots { position: absolute; bottom: 20px; width: 100%; text-align: center; display: inline-block; margin-left: -20px; }
.slick-dots li { display: inline-block; vertical-align: middle; font-size: 0px; }
.slick-dots button { display: inline-block; vertical-align: middle; box-sizing: content-box; margin-left: 20px; width: 6px; height: 6px; padding: 0px; border: 0px none; outline: medium none; background-color: rgb(255, 255, 255); border-radius: 50%; }
.slick-dots .slick-active button { background-color: rgb(237, 28, 36); border: 2px solid rgb(255, 255, 255); }
.slick-slider:hover .slick-next, .slick-slider:hover .slick-prev { opacity: 1; visibility: visible; }
.slick-prev, .slick-next { color: rgb(255, 255, 255); font-size: 0px; position: absolute; border: 2px solid; border-radius: 50%; width: 40px; height: 40px; padding: 5px; transition: all 0.5s ease 0s; outline: medium none; top: 49%; margin-top: -10px; opacity: 0; visibility: hidden; background-color: transparent; z-index: 1; }
.slick-prev:hover, .slick-next:hover { border-color: transparent; transition: all 0.5s ease 0s; }
.slick-prev::before, .slick-next::before { font-family: icomoon; font-size: 14px; }
.slick-prev { left: 20px; }
.slick-prev::before { content: ""; }
.slick-next { right: 20px; }
.slick-next::before { content: ""; }
.events-slider .slick-prev, .events-slider .slick-next { color: rgb(184, 187, 192); background-color: rgb(255, 255, 255); z-index: 10; }
.events-slider .slick-prev { left: 50%; margin-left: -440px; }
.events-slider .slick-next { right: 50%; margin-right: -440px; }
.events-slider .slick-prev:hover, .events-slider .slick-next:hover { color: rgb(255, 255, 255); background-color: rgb(237, 28, 36); }
@media (min-width: 85.375em) {
}
@media (min-width: 85.375em) {
}
.mCSB_inside > .mCSB_container { margin-right: 0px; }
.mCSB_scrollTools .mCSB_dragger { z-index: 0; }
.header__choose .mCSB_scrollTools { margin-bottom: 178px; margin-top: 10px; }
@media (max-width: 47.99em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
.social { font-size: 0px; line-height: 30px; font-family: "Avenir Next Cyr W00 Bold",sans-serif; font-weight: 100; color: rgb(255, 255, 255); }
.social__item { display: inline-block; vertical-align: middle; font-size: 15px; margin-left: 5px; }
.social__item:first-child { margin-left: 0px !important; }
.social__link { position: relative; display: inline-block; width: 30px; height: 30px; vertical-align: middle; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(122, 125, 132); border-radius: 50%; opacity: 0.6; transition: all 0.5s ease 0s; }
.social__link::before { position: absolute; top: 8px; left: 8px; }
.social__link:hover { opacity: 1; transition: all 0.5s ease 0s; }
.slider-banner__image { display: block; width: 100%; height: auto; }
.slider-banner .slick-dots { bottom: 10px; }
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
.cities { width: 100%; position: relative; padding: 40px; background-color: rgb(110, 113, 119); color: rgb(255, 255, 255); }
.cities__left, .cities__right { display: flex; flex-wrap: wrap; width: 100%; }
.cities__list { display: flex; flex-wrap: wrap; position: relative; text-align: center; width: 100%; }
.cities__row { margin-bottom: 25px; display: flex; flex-wrap: wrap; width: 100%; }
.cities__col { display: block; vertical-align: top; text-align: left; width: 100%; }
.cities__item { position: relative; margin-bottom: 20px; }
.cities__item_main { font-family: "Avenir Next Cyr W00 Bold",sans-serif; font-weight: 100; }
@media (min-width: 48em) {
  .cities { width: 720px; margin: 0px auto; }
  .cities__left, .cities__right { width: 50%; }
  .cities__list { width: 50%; }
}
@media (min-width: 64em) {
  .cities { width: 960px; }
  .cities__left { width: 33.3%; }
  .cities__right { width: 66.6%; }
}
@media (min-width: 85.375em) {
  .cities { width: 1340px; margin: 0px auto; }
  .cities__col { width: 50%; }
  .cities__col_pos_0 { width: 100%; }
  .cities__left { width: 20%; }
  .cities__right { width: 80%; }
  .cities__list { text-align: left; }
}
.events { background-color: rgb(255, 255, 255); padding: 20px; text-align: center; }
.events__title { font-size: 26px; font-family: "Avenir Next Cyr W00 Regular",sans-serif; font-weight: 100; }
.events__link { color: rgb(237, 28, 36); }
@media (min-width: 48em) {
  .events { padding: 30px 20px; }
  .events__title { margin-bottom: 30px; }
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
.events-slider { margin-bottom: 10px; }
.events-slider::before { content: ""; border-bottom: 1px solid rgb(230, 230, 230); left: 0px; position: absolute; z-index: 0; right: 0px; top: 160px; }
.events-slider__item { text-align: center; width: 280px; margin-bottom: 20px; position: relative; z-index: 5; }
.events-slider__item_old .events-slider__day::after, .events-slider__item_old .events-slider__month::after, .events-slider__item_old .events-slider__text::after, .events-slider__item_old .events-slider__item-image::after { position: absolute; bottom: 0px; left: 0px; right: 0px; top: -1px; opacity: 0.8; transition: all 1s ease 0s; background-color: rgb(255, 255, 255); content: ""; }
.events-slider__item_old:hover .events-slider__day::after, .events-slider__item_old:hover .events-slider__month::after, .events-slider__item_old:hover .events-slider__text::after, .events-slider__item_old:hover .events-slider__item-image::after { opacity: 0; }
.events-slider__item_old .events-slider__date::after { opacity: 0.2; transition: all 0.5s ease 0s; }
.events-slider__item_old:hover .events-slider__date::after { opacity: 1; }
.events-slider__item-image { position: relative; height: 110px; width: 110px; margin: 0px auto 30px; overflow: hidden; }
.events-slider__image { height: 100%; position: relative; }
.events-slider__image_max { display: block; }
.slick-center .events-slider__item-image { width: 210px; }
.slick-center .events-slider__image_max { display: block; }
.events-slider__date { position: relative; margin-bottom: 40px; }
.events-slider__date::after { content: ""; position: absolute; bottom: -19px; left: 50%; background-color: rgb(237, 28, 36); height: 3px; width: 48px; margin-left: -24px; }
.events-slider__day { font-size: 48px; font-family: "Avenir Next Cyr W00 Thin",sans-serif; font-weight: 100; line-height: 36px; position: relative; display: inline-block; background-color: rgb(255, 255, 255); padding: 0px 10px; }
.events-slider__month { font-size: 14px; color: rgb(184, 187, 192); position: relative; }
.events-slider__text { font-family: "Avenir Next Cyr W00 Bold",sans-serif; font-weight: 100; position: relative; line-height: 20px; }
@media (min-width: 85.375em) {
  .events-slider__image_max { transform: translateX(-50px); transition: all 0.6s ease 0s; }
  .slick-center .events-slider__image_max { transform: translateX(0px); transition: all 0.4s ease 0s; }
}
@media (min-width: 48em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 48em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@keyframes active {
0% { transform: scale(0.25); opacity: 1; }
100% { transform: scale(1.5); opacity: 0; }
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
.worksheet { position: relative; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
.worksheet__title { font-size: 20px; line-height: 22px; padding: 20px 20px 0px; margin-bottom: 0px; }
.worksheet .i-form__label { white-space: nowrap; }
@media (min-width: 48em) {
  .worksheet { width: 730px; margin: 0px auto; }
}
@media (min-width: 64em) {
  .worksheet { width: 985px; }
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
.loader { width: 50px; height: 50px; position: absolute; top: 50%; left: 50%; margin: -25px 0px 0px -25px; font-size: 10px; text-indent: -12345px; border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.5); border-radius: 50%; animation: 700ms linear 0s normal none infinite running spinner; z-index: 100001; }
@keyframes spinner {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes spinner {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes spinner {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.l-page { min-width: 320px; height: auto !important; min-height: 100%; margin: 0px auto; overflow: hidden; }
.l-page__content { position: relative; }
.l-page__footer-spacer { height: 400px; }
.l-page__footer { height: 400px; }
@media (min-width: 48em) {
  .l-page__footer-spacer { height: 310px; }
  .l-page__footer { height: 310px; }
}
@media (min-width: 64em) {
  .l-page__footer-spacer { height: 320px; }
  .l-page__footer { height: 320px; }
}
@media (min-width: 85.375em) {
  .l-page__footer-spacer { height: 540px; }
  .l-page__footer { height: 540px; }
}
.container { min-width: 280px; margin: 0px auto; padding: 0px; }
@media (min-width: 48em) {
  .container { width: 730px; }
}
@media (min-width: 64em) {
  .container { width: 985px; }
}
@media (min-width: 85.375em) {
  .container { width: 1300px; }
}
.header__action { line-height: 0; width: 100%; min-width: 320px; background-color: rgb(122, 125, 132); position: relative; margin-bottom: 10px; }
.header__choose { background-color: rgb(110, 113, 119); }
.header__club-choose { display: none; margin-bottom: -168px; overflow: auto; }
.header__city-choose { display: none; }
.header__club-choose-close, .header__city-choose-close { opacity: 0; transition: all 0.5s ease 0s; position: absolute; z-index: 1; color: rgb(255, 255, 255); font-size: 24px; top: 20px; right: 20px; }
.header-action { margin: 0px auto; color: rgb(255, 255, 255); }
.header-action__wrapper { width: 100%; }
.header-action__col { padding: 0px 10px; width: 100%; }
@media (min-width: 640px) {
  .header-action__col { padding: 0px 20px; }
}
.header-action__col_mobile { border-top: 1px solid rgb(137, 140, 146); }
.header-action__col_right { display: none; }
.header-action__col_right .header-action__link .i-icon { font-size: 18px; margin-right: 8px; vertical-align: -3px; }
.header-action__item { display: inline-block; vertical-align: top; font-size: 14px; line-height: 32px; }
.header-action__item_right { float: right; }
.header-action__item_tablet { display: none; }
.header-action__item_land { display: none; }
.header-action__item_desk { display: none; }
.header-action__item_mobile { display: inline-block; }
.header-action__link { display: inline-block; height: 100%; padding: 0px; }
.header-action__link .i-icon { margin-top: 2px; transition: all 0.5s ease 0s; display: inline-block; vertical-align: -2px; font-size: 16px; }
.header-action__text { padding: 0px; }
@media (max-width: 1366px) {
  .header-nav__item.header-nav__item_button_order { margin-right: 35px; }
}
@media (max-width: 640px) {
  .header-nav__item.header-nav__item_button_order { margin-right: 45px; }
  .header-nav__item.header-nav__item_button_order a { padding: 3px 15px 5px; }
}
@media (min-width: 48em) {
  .header-action { padding: 0px 20px; }
  .header-action__wrapper { width: 730px; position: relative; margin: 0px auto; }
  .header-action__list { margin-left: -30px; }
  .header-action__item { margin-left: 30px; }
  .header-action__item .i-link_schedule { padding: 0px 12px; margin-right: -10px; }
  .header-action__item_right { float: none; }
  .header-action__item_mobile { display: none; }
  .header-action__item_land { display: none; }
  .header-action__item_desk { display: none; }
  .header-action__item_tablet { display: inline-block; }
  .header-action__col { display: inline-block; vertical-align: top; width: auto; padding: 0px; }
  .header-action__col_mobile { display: none; }
  .header-action__col_right { display: block; position: absolute; right: 0px; top: 0px; }
}
@media (min-width: 64em) {
  .header-action__wrapper { width: 985px; }
  .header-action__list { margin-left: -25px; }
  .header-action__item { margin-left: 25px; }
  .header-action__item_mobile { display: none; }
  .header-action__item_tablet { display: none; }
  .header-action__item_desk { display: none; }
  .header-action__item_land { display: inline-block; }
}
@media (min-width: 85.375em) {
  .header-action { padding: 0px; }
  .header-action__wrapper { width: 1340px; }
  .header-action__list { margin-left: 0px; font-size: 0px; }
  .header-action__col_right .header-action__link { padding: 0px 12px; }
  .header-action__item { margin-left: 0px; }
  .header-action__item_first .header-action__link { padding-left: 20px; }
  .header-action__item .i-link_schedule { margin-right: 0px; }
  .header-action__item_last { margin-right: 8px; }
  .header-action__item_mobile { display: none; }
  .header-action__item_tablet { display: none; }
  .header-action__item_land { display: none; }
  .header-action__item_desk { display: inline-block; }
  .header-action__link { padding: 0px 10px; transition: all 0.5s ease 0s; }
  .header-action__link:hover { background-color: rgb(136, 138, 145); transition: all 0.5s ease 0s; }
  .header-action__text { padding: 0px 20px; }
}
.header-nav { position: relative; height: 46px; line-height: 46px; width: 100%; min-width: 320px; background-color: rgb(237, 28, 36); transition: all 0.5s ease 0s; }
.header-nav__list { position: relative; overflow: hidden; padding: 0px 10px; font-size: 0px; }
@media (min-width: 640px) {
  .header-nav__list { padding: 0px 20px; }
}
.header-nav__item { display: inline-block; vertical-align: middle; }
.header-nav__item_nav-button { position: absolute; top: 10px; right: 10px; }
@media (min-width: 48em) {
  .header-nav { height: 58px; line-height: 58px; }
  .header-nav_main::after { content: ""; position: absolute; background-color: rgb(237, 28, 36); top: 106px; height: 150px; width: 100%; }
  .header-nav__list { width: 730px; margin: 0px auto; padding: 0px; }
  .header-nav__item_nav-button { right: 0px; }
}
@media (min-width: 64em) {
  .header-nav__list { width: 985px; }
}
@media (min-width: 85.375em) {
  .header-nav__list { width: 1300px; }
  .header-nav__item_button_order { float: right; }
}
.footer { width: 100%; min-width: 320px; padding: 0px; position: absolute; bottom: 0px; left: 0px; font-size: 14px; line-height: 22px; color: rgb(255, 255, 255); background-color: rgb(122, 125, 132); }
.footer__head { width: 100%; background-color: rgb(255, 255, 255); }
.footer__head-wrapper { position: relative; color: rgb(0, 0, 0); padding: 0px 20px; }
.footer__faq, .footer__search { display: inline-block; vertical-align: bottom; padding: 20px 0px; }
.footer__faq { width: 50%; }
.footer__search { position: absolute; left: 50%; right: 0px; bottom: 0px; display: inline-block; white-space: nowrap; text-align: right; transition: all 0.5s ease 0s; }
.footer__search-form { position: relative; padding: 0px 20px; }
.footer__search-icon { display: inline-block; vertical-align: middle; margin-top: -4px; margin-right: 5px; color: rgb(122, 125, 132); font-size: 18px; }
.footer__search-input { width: 64px; cursor: pointer; transition: all 0.5s ease 0s; }
.footer__search-input:hover::-moz-placeholder { transition: all 0.5s ease 0s; color: rgb(0, 0, 0); }
.footer__search-input:hover:-moz-placeholder { transition: all 0.5s ease 0s; color: rgb(0, 0, 0); }
.footer__search-submit, .footer__search-close { position: absolute; top: -5px; visibility: hidden; opacity: 0; }
.footer__search-submit { right: 20px; }
.footer__search-close { display: none; right: 20px; vertical-align: middle; line-height: 32px; width: 20px; height: 20px; padding: 15px; cursor: pointer; }
.footer__search-close::after, .footer__search-close::before { content: ""; position: absolute; top: 14px; left: 4px; height: 2px; background-color: rgb(0, 0, 0); width: 100%; }
.footer__search-close::after { transform: rotate(45deg); }
.footer__search-close::before { transform: rotate(-45deg); }
@media (min-width: 85.375em) {
  .footer__search-submit { right: 50px; }
  .footer__search-close { display: block; }
}
.footer__content { padding: 0px 20px; }
.footer__row { position: relative; margin-bottom: 35px; }
.footer__row:first-child { margin-top: 35px; }
.footer__row:last-child { margin-bottom: 0px; }
.footer__row_links { display: none; }
.footer__menu-button { position: absolute; right: 0px; top: 6px; }
.footer__text { color: rgba(255, 255, 255, 0.6); margin-bottom: 20px; }
.footer__developer { transition: all 0.5s ease 0s; font-weight: 700; }
.footer__developer:hover { transition: all 0.5s ease 0s; color: rgb(255, 255, 255); }
.footer__applications { margin-left: -35px; }
.footer__applications-item { display: inline-block; margin-left: 35px; margin-bottom: 0px; opacity: 0.6; transition: all 0.5s ease 0s; }
.footer__applications-item:last-child { margin-bottom: 0px; }
.footer__applications-item:hover { opacity: 1; transition: all 0.5s ease 0s; }
.footer__applications-logo { height: 26px; }
.footer__applications-logo_ios { width: 80px; }
.footer__applications-logo_google { width: 100px; }
@media (min-width: 48em) {
  .footer__head-wrapper, .footer__content { width: 730px; margin: 0px auto; padding: 0px; }
  .footer__search { left: 86%; }
}
@media (min-width: 64em) {
  .footer__head-wrapper, .footer__content { width: 985px; }
  .footer__text { padding-right: 0px; display: inline-block; vertical-align: middle; }
  .footer__applications { display: inline-block; position: absolute; right: 0px; text-align: right; top: 14px; vertical-align: middle; }
}
@media (min-width: 85.375em) {
  .footer { height: 540px; }
  .footer__head-wrapper, .footer__content { width: 1340px; padding: 0px 20px; }
  .footer__row_links { display: block; }
  .footer__text { width: 35%; }
  .footer__social_links { margin-top: 40px; }
}
.footer-links { display: inline-table; width: 100%; margin-top: 40px; margin-left: -20px; margin-right: -20px; border-collapse: separate; border-spacing: 20px 0px; }
.footer-links__item { display: table-cell; vertical-align: top; min-width: 170px; }
.footer-links__title { font-family: "Avenir Next Cyr W00 Bold",sans-serif; font-weight: 100; margin-bottom: 20px; }
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
.nav { font-size: 0px; line-height: 28px; font-family: "Avenir Next Cyr W00 Bold",sans-serif; font-weight: 100; color: rgb(255, 255, 255); letter-spacing: 0.25px; }
.nav_menu { margin-left: 0px; margin-bottom: 30px; }
.nav_menu .nav__item { display: block; margin-left: 0px; margin-bottom: 10px; }
.nav__item { display: inline-block; vertical-align: middle; font-size: 15px; margin-left: 28px; }
@media (min-width: 85.375em) {
  .nav { margin-left: 15px; letter-spacing: 0.5px; }
  .nav__item { margin-left: 45px; }
}
.nav2-button { position: relative; display: inline-block; line-height: 0; font-size: 0px; width: 23px; height: 23px; cursor: pointer; }
.nav2-button::before { content: ""; position: absolute; width: 43px; height: 40px; top: -10px; left: -10px; }
.nav2-button__line { border-top: 2px solid rgb(255, 255, 255); position: relative; display: inline-block; width: 100%; margin: 2px 0px 3px; transition: all 0.5s ease 0s; }
.nav2-button:hover .nav2-button__line_left { transform: translateY(2px); transition: all 0.2s ease 0s; }
.nav2-button:hover .nav2-button__line_right { transform: translateY(-2px); transition: all 0.2s ease 0s; }
.menu { height: 100%; position: fixed; width: 0px; top: 0px; right: 0px; bottom: 0px; transition: all 0.5s ease 0s; background-color: rgb(237, 28, 36); color: rgb(255, 255, 255); overflow-y: auto; overflow-x: hidden; z-index: 9999; }
.menu__close { position: absolute; top: 10px; right: 10px; font-size: 22px; opacity: 0; visibility: hidden; cursor: pointer; }
.menu__close::after { content: ""; position: absolute; width: 40px; height: 40px; top: -10px; left: -10px; }
.menu__list { margin: 30px 0px; }
.menu__item { width: 100%; font-size: 15px; margin-bottom: 12px; }
.menu__item .i-icon { font-size: 16px; vertical-align: -1px; }
.menu__wrapper { display: none; padding: 35px 0px 40px 40px; }
.menu__row { display: table-row; }
.menu__row_cell { display: table-cell; vertical-align: middle; height: 80%; }
@media (min-width: 48em) {
}
.logo__image { width: 100px; height: 50px; display: inline-block; vertical-align: middle; }
@media (min-width: 48em) {
  .logo__image { width: 125px; padding: 0px; }
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
.grid-club { width: 100%; }
.grid-club__item { display: inline-block; vertical-align: top; width: 100%; min-height: 100px; }
.grid-club__item_id_1 { background-color: rgb(255, 255, 255); }
@media (min-width: 48em) {
  .grid-club { width: 768px; margin: 0px auto; }
  .grid-club__item_id_2 { height: 450px; overflow: hidden; }
  .grid-club_unauthorized .grid-club__item_id_2 { height: auto; }
}
@media (min-width: 64em) {
  .grid-club { position: relative; width: 1024px; padding-left: 340px; }
  .grid-club__item_id_1 { position: absolute; left: 0px; width: 340px; top: 0px; bottom: 0px; }
  .grid-club__item_id_2 { height: 400px; }
  .grid-club_unauthorized { padding-left: 0px; }
  .grid-club_unauthorized .grid-club__item_id_1 { position: relative; width: 693px; height: 400px; overflow: hidden; }
  .grid-club_unauthorized .grid-club__item_id_2 { width: 330px; }
}
@media (min-width: 85.375em) {
  .grid-club { width: 1340px; padding-left: 330px; }
  .grid-club__item_id_1 { width: 330px; }
  .grid-club__item_id_2 { width: 680px; height: 400px; }
  .grid-club__item_id_3 { width: 330px; }
  .grid-club_unauthorized { padding-left: 0px; }
  .grid-club_unauthorized .grid-club__item_id_1 { width: 680px; }
}
.grid-club-competition { width: 100%; padding: 30px 20px 0px; }
.grid-club-competition__item { display: inline-block; vertical-align: top; width: 100%; margin-bottom: 20px; }
@media (min-width: 48em) {
  .grid-club-competition { padding: 0px; }
  .grid-club-competition__item { width: 50%; height: 200px; margin-bottom: 0px; }
}
@media (min-width: 64em) {
  .grid-club-competition_unauthorized .grid-club-competition__item { width: 100%; }
}
@media (min-width: 85.375em) {
  .grid-club-competition__item { width: 100%; }
}
@media (min-width: 64em) {
  .animate-1, .animate-2, .animate-3, .animate-4, .animate-5 { opacity: 0 !important; transform: translateY(40px); transition: all 0.4s ease 0s !important; }
  .is-animate { opacity: 1 !important; transform: translateY(0px); transition: all 0.4s ease 0s !important; }
}
.competition { position: relative; height: 100%; width: 100%; display: inline-block; background-size: cover; }
.competition__image { width: 86px; margin-right: 20px; margin-top: 4px; float: left; }
.competition__description { overflow: hidden; font-size: 14px; line-height: 20px; }
@media (max-width: 47.99em) {
  .competition { background-image: none !important; }
}
@media (min-width: 48em) {
  .competition { padding: 30px 20px; }
  .competition__description { overflow: visible; }
  .competition__image { display: none; }
  .competition__title { position: absolute; bottom: 0px; left: 0px; padding: 30px 20px 23px; color: rgb(255, 255, 255); line-height: 24px; font-size: 18px; font-family: "Avenir Next Cyr W00 Bold",sans-serif; font-weight: 100; }
}
@media (min-width: 85.375em) {
  .competition::before { content: ""; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; opacity: 0; transition: all 0.5s ease 0s; background-color: rgb(0, 0, 0); }
  .competition:hover::before { opacity: 0.6; transition: all 0.5s ease 0s; }
  .competition__title { transition: all 0.5s ease 0s; }
  .competition:hover .competition__title { transition: all 0.5s ease 0s; transform: translateY(-5px); }
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@font-face {
  font-family: "Avenir Next Cyr W00 Thin";
  src: url("65f66e6b-d28d-4c94-b661-66511860c2c7.eot") format("eot"), url("0b79d335-83f4-416a-b9b7-0e81d6258db7.woff2") format("woff2"), url("ab86f3dc-10a7-4bf1-bab8-e84f506f6d45.woff") format("woff"), url("e0f6c0c2-cd05-4327-acb3-5543c3d7feac.ttf") format("truetype"), url("0e59386d-0330-4e45-8bdd-026fc0e73d71.svg") format("svg");
}
@font-face {
  font-family: "Avenir Next Cyr W00 Regular";
  src: url("069faa0e-9913-48c4-9ef7-89a4bc080b65.eot") format("eot"), url("7db1f672-3a8f-4d19-9c49-7f61aed450b5.woff2") format("woff2"), url("4ab86b35-c0c2-42b5-98ad-4b6eba66b197.woff") format("woff"), url("276b3566-1c3b-4bc1-8915-15314f091f29.ttf") format("truetype"), url("5d02f5f4-46e7-453a-aef9-3e7106d7bb68.svg") format("svg");
}
@font-face {
  font-family: "Avenir Next Cyr W00 Bold";
  src: url("fb4117a5-14ee-4035-8692-935bfff7fc2e.eot") format("eot"), url("4c04fb14-abdb-4f93-82bb-734d1b84307b.woff2") format("woff2"), url("04d2f223-2786-40c9-8481-be9dd47d8e7f.woff") format("woff"), url("bce3274e-f498-48ae-b269-a6930df496e7.ttf") format("truetype"), url("68f0375d-f66f-4f88-822a-5a0b61d2efc0.svg") format("svg");
}
.news { width: 100%; padding: 20px; }
.news__title { font-family: "Avenir Next Cyr W00 Bold",sans-serif; font-weight: normal; font-size: 16px; line-height: 22px; margin-bottom: 30px; }
.news__item { display: inline-block; vertical-align: top; width: 100%; margin-bottom: 20px; }
.news__footer-col { margin-bottom: 20px; }
.news__link { display: inline-block; font-size: 15px; }
.news__link_all { color: rgb(237, 28, 36); }
.news__link_all:hover { color: rgb(203, 0, 2); }
.news__link_subscribe { margin-right: 20px; color: rgb(122, 125, 132); }
.news__link_subscribe:hover { color: rgb(0, 0, 0); }
.news__link_subscribe::before { content: ""; font-family: icomoon; font-size: 20px; position: absolute; right: -20px; }
.news-item { font-size: 15px; line-height: 22px; }
.news-item__date { color: rgb(184, 187, 192); font-size: 14px; margin-bottom: 8px; }
@media (min-width: 48em) {
  .news { width: 768px; margin: 0px auto; padding: 5px 20px; }
  .news_main { padding: 30px 20px; }
  .news_main .news__footer-col { display: inline-block; vertical-align: top; width: 50%; margin-bottom: 0px; }
  .news__list { margin-left: -40px; margin-bottom: 10px; }
  .news__item { width: 50%; padding-left: 40px; }
  .news__footer { overflow: hidden; }
  .news__footer-col_right { text-align: right; }
  .news__link { width: auto; }
}
@media (min-width: 64em) {
  .news { width: 1024px; }
  .news__item { width: 33.3%; }
  .news__footer-col { width: 100%; }
}
@media (min-width: 85.375em) {
  .news { width: 1340px; padding-top: 25px; }
  .news__item { width: 25%; }
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
.promo { position: relative; }
.promo-slider__item { min-height: 300px; padding-bottom: 100px; line-height: 360px; background-size: cover; background-position: center center; position: relative; z-index: 0; }
.promo-slider__item::after { content: ""; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; z-index: 0; opacity: 0.6; }
@media (min-width: 48em) {
  .promo-slider__item { min-height: 768px; padding-bottom: 120px; line-height: 690px; }
}
@media (min-width: 85.375em) {
  .promo-slider__item { min-height: 700px; line-height: 710px; }
}
.promo-slider-pagination { position: relative; bottom: 150px; font-size: 14px; color: rgb(255, 255, 255); height: 0px; z-index: 11; }
.promo-slider-pagination__item { text-align: center; outline: medium none; cursor: pointer; }
.promo-slider-pagination__item-text { opacity: 0.6; transition: all 0.5s ease 0s; }
.promo-slider-pagination__item-icon { background-color: transparent; border-radius: 50%; display: inline-block; font-size: 60px; margin-bottom: 10px; padding: 5px; transition: all 0.5s ease 0s; }
.promo-slider-pagination__item:hover .promo-slider-pagination__item-icon { color: rgb(237, 28, 36); }
.promo-slider-pagination__item:hover .promo-slider-pagination__item-text { opacity: 1; }
.promo-slider-pagination__item.slick-center .promo-slider-pagination__item-icon { background-color: rgb(237, 28, 36); transition: all 0.5s ease 0s; }
.promo-slider-pagination__item.slick-center:hover .promo-slider-pagination__item-icon { color: rgb(255, 255, 255); }
.promo-slider-pagination__item.slick-center .promo-slider-pagination__item-text { opacity: 1; transition: all 0.5s ease 0s; }
.promo-slide { color: rgb(255, 255, 255); position: relative; padding: 20px; z-index: 9; display: inline-block; vertical-align: middle; line-height: 34px; }
.promo-slide__title { font-size: 26px; margin-bottom: 50px; }
.promo-slide__bold { font-family: "Avenir Next Cyr W00 Bold",sans-serif; font-weight: 100; }
.promo-slide__clubs { line-height: 20px; }
.promo-slide__text { display: none; }
.promo-slide__clubs-item { margin-bottom: 10px; }
@media (min-width: 48em) {
  .promo-slide { padding: 60px 40px 60px 60px; line-height: 60px; }
  .promo-slide__title { font-size: 48px; margin-bottom: 30px; }
  .promo-slide__bold { font-family: "Avenir Next Cyr W00 Bold",sans-serif; font-weight: 100; }
  .promo-slide__text { display: block; font-size: 16px; line-height: 26px; margin-bottom: 40px; padding-right: 140px; }
  .promo-slide__clubs { margin-left: -30px; }
  .promo-slide__clubs-item { display: inline-block; vertical-align: top; width: 130px; margin-bottom: 10px; margin-left: 30px; }
}
@media (min-width: 64em) {
  .promo-slide__title { padding-right: 260px; }
  .promo-slide__text { padding-right: 400px; }
}
@media (min-width: 85.375em) {
  .promo-slide { padding: 30px 110px; line-height: 74px; }
  .promo-slide__title { font-size: 60px; padding-right: 250px; }
  .promo-slide__text { font-size: 18px; line-height: 30px; padding-right: 560px; }
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
.world { position: relative; width: 100%; padding: 80px 20px 160px; text-align: center; color: rgb(255, 255, 255); border-top: 20px solid rgb(255, 255, 255); background-size: cover; background-position: center center; }
.world__icon { font-size: 22px; }
.world__title { font-family: "Avenir Next Cyr W00 Thin",sans-serif; font-weight: 100; font-size: 34px; }
@media (min-width: 48em) {
  .world { padding: 200px 50px; }
  .world__title { font-size: 82px; }
}
@media (min-width: 85.375em) {
  .world { background-attachment: fixed; }
}
.world-partners { background-color: rgba(255, 255, 255, 0.2); padding: 30px 0px; position: absolute; bottom: 0px; left: 0px; right: 0px; }
.world-partners__list { font-size: 0px; margin-left: -10px; height: 45px; }
.world-partners__item { display: inline-block; vertical-align: middle; font-size: 15px; margin-left: 10px; }
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 1365px) {
}
@media (min-width: 1023px) {
}
@media (min-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
.vacancies__text { margin-bottom: 20px; }
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 28em) {
}
@media (min-width: 37em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (max-width: 768px) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 105em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media print {
  .l-page__header, .l-page__footer, .l-page__footer-spacer, .seo-text, .breadcrumbs, .filter, .social, .schedule-select, .schedule-event__check, .schedule__table, .schedule__table-controls, .news-inner__banner, .schedule-app, .l-page__content_schedule .events, .l-page__content_schedule .news-inner, .article__box_floating, .article__more, .l-page__content_news-one .news_one, .event-info__buttons, .event-about .events, .event-about .news, .special-offers-more { display: none; }
}
.header-nav__item_nav-button { position: absolute; top: 10px; }
@media (min-width: 640px) {
  .header-nav__item_nav-button {  }
}
@media (min-width: 46.8em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 93.75em) {
}
@media (min-width: 640px) {
}
.footer__links { padding-left: 0px; }
@media (min-width: 85.375em) {
  .footer__links { padding-left: 10%; vertical-align: bottom; }
}
@media (max-width: 768px) {
}
@media (max-width: 700px) {
}
@media (max-width: 400px) {
}
.competition__description::before { content: ""; position: absolute; background: rgba(0, 0, 0, 0) url("grad.png") no-repeat scroll left bottom; left: 0px; top: 0px; width: 100%; height: 100%; }
@media (max-width: 768px) {
  .competition__description::before { display: none; }
}
@media (min-width: 48em) {
  .news__item { width: 49%; padding-left: 40px; }
}
@media (min-width: 64em) {
  .news__item { width: 33%; }
}
.news__item.news-item { float: none !important; }
@media (min-width: 85.375em) {
  .news__item { width: 24.7%; }
  .grid-club__item_id_3 { margin-left: -4px; }
}
.page-loader_prFilter { display: block; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%; z-index: 100000; }
.events-slider__item_old .events-slider__text a { opacity: 0.5; z-index: 99; }
.club_detail_form_error { color: rgb(237, 28, 36); }
#SubsForm .vacancies__text { margin-bottom: 0px; }
#SubsForm .i-form__row { margin-bottom: 0px; }
#SubsForm { width: 550px; }
@media (max-width: 64em) {
}
@media (max-width: 48em) {
}
#SubsForm { width: 100%; }
.events__slider .slick-prev, .events__slider .slick-next { margin-top: -13px; }
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (max-width: 48em) {
}
@media (min-width: 85.375em) {
}
.nav__item { margin-left: 22px; }
@media (max-width: 1024px) {
  .nav__item { margin-left: 18px; }
}
.l-page__footer-spacer { height: 670px; }
.l-page__footer { height: auto !important; }
.l-page__footer { height: 600px; }
@media (min-width: 48em) {
  .l-page__footer-spacer { height: 580px; }
  .l-page__footer { height: 391px; }
}
@media (min-width: 85.375em) {
  .l-page__footer-spacer { height: 760px; }
  .l-page__footer { height: 550px; }
}
@media (min-width: 64em) {
  .worksheet_subscription { width: 500px; }
}
@media (min-width: 48em) {
  .worksheet_subscription { width: 400px; margin: 0px auto; }
}
@media (min-width: 64em) {
}
.cities__row { margin-bottom: 25px; }
@media (min-width: 64em) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1300px) {
}
@media (max-width: 48em) {
}
@media (min-width: 48em) {
}
@media (min-width: 64em) {
}
@media (min-width: 64em) {
}
@font-face {
  font-family: "triathlon_f";
  font-style: normal;
  font-weight: normal;
  src: url("triathlon_f.eot") format("embedded-opentype"), url("triathlon_f.ttf") format("truetype"), url("triathlon_f.woff") format("woff"), url("triathlon_f.svg") format("svg");
}
.header-action__item.header-action__item_last { position: relative; }
@media (min-width: 800px) {
}
@media (min-width: 639px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1500px) {
}
@media (min-width: 64em) {
}
@media (min-width: 64em) {
  .header-action__item_desk.ya-phone1 { display: inline-block; }
}
@media (max-width: 48em) {
}
@media (max-width: 48em) {
  .header-action__item_tablet.ya-phone1 { display: inline-block; margin-right: 10px; }
}
@keyframes a {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@keyframes a {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@media (max-width: 800px) {
}
@media (min-width: 800px) {
}
.grid-club { z-index: 20; position: relative; }
.is-header-fixed { position: fixed; width: 100%; top: 0px; z-index: 100; }
.is-header-fixed .header__nav.header-nav.header-nav_main::after { display: none !important; }
.is-fh-page, .l-page { top: 0px !important; }
.grid-club.grid-club_unauthorized { z-index: 20; position: relative; }
.header-empty { width: 100%; height: 174px; }
@font-face {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  src: url("fontello.eot") format("embedded-opentype"), url("fontello.woff") format("woff"), url("fontello.ttf") format("truetype"), url("fontello.svg") format("svg");
}
.el-hidden, .is-hidden { display: none; }
div.footer__applications.applications-desktop { position: relative; width: 100%; text-align: left; top: 0px; margin-bottom: 15px; }
div.footer__applications.applications-mobile { margin-bottom: 20px; }
div.footer__row .title { font-size: 15px; padding-bottom: 10px; margin-left: 35px; }
.footer__applications.applications-desktop { width: auto !important; margin-right: 30px; }
.promo-custom-transparent { min-height: 100% !important; }
.about-title { font-size: 60px; color: rgb(255, 255, 255); font-family: "Avenir Next Cyr W00 Thin",sans-serif; text-align: center; padding: 100px 0px 40px; margin-bottom: 20px; }
div.wr-about { background-size: cover; background-position: 50% 0px; background-repeat: no-repeat; margin-bottom: 20px; }
div.about-text { font-size: 16pt; color: rgb(255, 255, 255); line-height: 27pt; padding: 0px 0px 30px 35px; display: inline-block; width: 49%; vertical-align: top; }
div.wr-about-t { padding-bottom: 55px; }
@media (max-width: 1024px) {
  div.about-text { width: 100%; padding: 0px 0px 30px; font-size: 11pt; line-height: 18pt; }
}
.header-action__change_city { position: absolute; left: 0px; bottom: -125px; width: 305px; height: 125px; box-sizing: border-box; padding: 30px; box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.3); background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); z-index: 9999; display: none; }
.header-action__change_city::before { content: ""; border-width: 20px; border-style: solid; border-color: transparent transparent rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; top: -40px; }
.header-action__change_city-text { display: block; line-height: 1; }
.header-action__change_city-buttons { margin-top: 17px; }
.header-action__change_city-buttons button:first-child { margin-right: 20px; }
.header-action__change_city-close.mfp-close::before { color: rgb(95, 95, 95) !important; }
@media (max-width: 768px) {
  .header-action__change_city { bottom: -75px; }
}
.header-nav__item_nav-button {  }
@media all and (min-width: 1366px) {
  .header-nav__item_nav-button { display: none; }
}
.header-nav__item_button_order { display: flex; align-items: center; height: 46px; }
@media (min-width: 48em) {
  .header-nav__item_button_order { height: 58px; }
}
.header-nav__item_button_order .i-button { display: flex; align-items: center; height: 34px; padding: 0px 13px; }
@media (min-width: 85.375em) {
}
@media (min-width: 85.375em) {
}
@media (min-width: 350px) {
  .header-nav__item_button_order a { font-size: 16px; }
}
@media (max-width: 350px) {
}
.i-button-new { display: inline-block; cursor: pointer; font-size: 14px; line-height: 16px; font-family: "Avenir Next Cyr W00",sans-serif; margin: 0px 5px; height: auto; padding: 12px; border: medium none; font-weight: normal; outline: medium none; border-radius: 30px; transition: all 0.5s ease 0s; min-width: 150px; text-align: center; }
.i-button-new.i-button_red-on-white { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); height: auto; padding: 12px; font-size: 14px; display: inline-block; width: 180px; border: 2px solid rgb(255, 255, 255); }
.i-button-new.i-button_red-on-white:hover { background: rgb(255, 21, 30) none repeat scroll 0% 0%; color: white; border: 2px solid rgb(255, 255, 255); }
.b-wc-popup { position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; background-color: rgba(0, 0, 0, 0.4); z-index: 990; display: none; }
.b-wc-popup__container { display: flex; align-items: center; place-content: center; height: 100%; width: 100%; }
.b-wc-popup__link { text-decoration: none; color: black; }
.b-wc-popup__wrapper { background-color: white; min-width: 10px; min-height: 10px; position: relative; }
.b-wc-popup__close { position: absolute; top: -40px; right: -40px; opacity: 0.8; cursor: pointer; }
@media all and (max-width: 460px) {
  .b-wc-popup__close { right: 11px; top: -34px; }
}
.b-wc-popup__close:hover { opacity: 1; }
.b-wc-popup__close::before { content: ""; font-family: "icomoon"; font-size: 24px; color: rgb(255, 255, 255); }
.b-wc-popup__content { display: none; }
@media all and (max-width: 480px) {
  .b-wc-popup__content--320 { display: flex; }
}
@media all and (min-width: 481px) and (max-width: 680px) {
  .b-wc-popup__content--480 { display: flex; }
}
@media all and (min-width: 681px) {
  .b-wc-popup__content--680 { display: flex; }
}
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-user-select: none; touch-action: pan-y; }
.slick-list { position: relative; display: block; overflow: hidden; margin: 0px; padding: 0px; }
.slick-list:focus { outline: medium none; }
.slick-slider .slick-track, .slick-slider .slick-list { transform: translate3d(0px, 0px, 0px); }
.slick-track { position: relative; top: 0px; left: 0px; display: block; }
.slick-track::before, .slick-track::after { display: table; content: ""; }
.slick-track::after { clear: both; }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px; outline: medium none; }
.slick-slide img {  }
.slick-initialized .slick-slide { display: block; }
.mCustomScrollbar { touch-action: none; }
.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action { touch-action: auto; }
.mCustomScrollBox { position: relative; overflow: hidden; height: 100%; max-width: 100%; outline: 0px none; direction: ltr; }
.mCSB_container { overflow: hidden; width: auto; height: auto; }
.mCSB_inside > .mCSB_container { margin-right: 30px; }
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden { margin-right: 0px; }
.mCSB_scrollTools { position: absolute; width: 16px; height: auto; left: auto; top: 0px; right: 0px; bottom: 0px; opacity: 0.75; }
.mCSB_scrollTools .mCSB_draggerContainer { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; height: auto; }
.mCSB_scrollTools .mCSB_draggerRail { width: 2px; height: 100%; margin: 0px auto; border-radius: 16px; }
.mCSB_scrollTools .mCSB_dragger { cursor: pointer; width: 100%; height: 30px; z-index: 1; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { position: relative; width: 4px; height: 100%; margin: 0px auto; border-radius: 16px; text-align: center; }
.mCSB_scrollTools, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { transition: opacity 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s; }
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools, .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools { opacity: 0; }
.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools, .mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools, .mCustomScrollBox:hover > .mCSB_scrollTools, .mCustomScrollBox:hover ~ .mCSB_scrollTools, .mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag, .mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag { opacity: 1; }
.mCSB_scrollTools .mCSB_draggerRail { background-color: rgba(0, 0, 0, 0.4); }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background-color: rgba(255, 255, 255, 0.75); }
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background-color: rgba(255, 255, 255, 0.85); }
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar { background-color: rgba(255, 255, 255, 0.9); }
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter { -moz-user-select: none; }
button::-moz-focus-inner { padding: 0px; border: 0px none; }
.mfp-close { width: 44px; height: 44px; line-height: 44px; position: absolute; right: 0px; top: 0px; text-decoration: none; text-align: center; opacity: 0.65; padding: 0px 0px 18px 10px; color: rgb(255, 255, 255); font-style: normal; font-size: 28px; font-family: Arial,Baskerville,monospace; }
.mfp-close:hover, .mfp-close:focus { opacity: 1; }
.mfp-close:active { top: 1px; }
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
}
@media all and (max-width: 900px) {
}
.grecaptcha-badge { display: none !important; }
